body {
    margin:0;
}

nav {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgba(212, 205, 182);
    margin:0;
    padding: 30px 30px;

}

.bottom {
    display:flex;
    gap:30px;
}

a {
    color:black;
    text-decoration:none;
}